name: Build
on:
  workflow_dispatch:

jobs:
  build-all:
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code
        uses: actions/checkout@v3
      
      # - name: Install tree
      #   run: sudo apt-get update && sudo apt-get install -y tree
      
      - name: Show pwd path
        run: pwd
      
      - name: Show tree structure
        run: tree -L 4
