name: Build
on:
  workflow_dispatch:
  push:

jobs:
  build-all:
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code
        uses: actions/checkout@v3

      - name: Install terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.2

      - name: Install ansible
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible    

      - name: Show pwd path
        run: pwd
      
      - name: Show tree structure
        run: tree -L 4
