name: Build
on:
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Show Path
        run: echo "$PATH"
      - name: Get repository code
        uses: actions/checkout@v3
